{% extends '@AdminLTE/layout/security-layout.html.twig' %}

{% block title %}Reesistencia MK | Registro{% endblock %}
{% block login_social_auth %}{% endblock %}

{% block logo_login %}<b>Reesistencia</b> Maker{% endblock %}

{% block login_box_msg %}
    {{ 'Registrate y participa' }}
{% endblock %}

{% block login_form %}
    {% form_theme form '@AdminLTE/layout/form-theme-security.html.twig' %}
    {{ form_start(form, {'method': 'post', 'action': path('registration'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block login_actions %}
    <br>
    <a href="{{ path('login') }}">
        {{ 'Volver al login' }}
    </a>
{% endblock %}

