{% extends 'base.html.twig' %}

{% block document_title %}{% endblock %}
{% block page_title %}Imprimible: {{ thing }}{% endblock %}
{% block page_subtitle %}
    {% if is_granted('thing_edit', thing) %}
        {% import '@AdminLTE/Macros/buttons.html.twig'  as btn %}
        {{ btn.link_button('Editar imprimible', path('things.edit', {'thingId': thing.id}), 'far fa-save', 'success', 'sm') }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="box box-solid">
            <div class="row">
                <div class="col-md-3">
                    <div class="box-header with-border">
                        <img src="{{ thing.photoUrl }}" alt="{{ thing.type }} {{ thing.model }}" style="width:100%">
                    </div>
                </div>
                <div class="col-md-9">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p class="lead">
                            {{ thing }}
                        </p>
                        {#                <ul class="nav nav-stacked">#}
                        {#                    <li><a href="#">Hechos <span class="pull-right badge bg-red">{{ done }}</span></a></li>#}
                        {#                    <li><a href="#">Recogidos <span class="pull-right badge bg-blue">{{ collected }}</span></a></li>#}
                        {#                    <li><a href="#">Entregados <span class="pull-right badge bg-green">{{ delivered }}</span></a></li>#}
                        {#                </ul>#}
                        <ul class="nav nav-stacked">
                            <li><a href="{{ thing.urlThingiverse }}" target="_blank">Thingiverse</a></li>
                            <li><a href="{{ thing.otherUrl }}" target="_blank">Otra</a></li>
                        </ul>
                        <p>
                            {{ thing.description|raw }}
                        </p>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </div>
{% endblock content%}

