{% extends 'base.html.twig' %}

{% block document_title %}{% endblock %}
{% block page_title %}Imprimibles{% endblock %}
{% block page_subtitle %}
    {% if is_granted('thing_create') %}
        {% import '@AdminLTE/Macros/buttons.html.twig'  as btn %}
        {{ btn.link_button('Crear imprimible', path('things.create'), 'far fa-save', 'success', 'sm') }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        {% for result in results %}
            <div class="col-md-3">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <img src="{{ result.thing.photoUrl }}" alt="{{ result.thing.type }} {{ result.thing.model }}" style="width:100%">
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <span class="badge bg-info">
                            {{ result.thing.type|truncate(22) }}
                        </span>
                        <p class="lead">
                        {{ result.thing.model|truncate(22) }}
                        </p>
                        <ul class="nav nav-stacked">
                            <li><a href="#">Hechos <span class="pull-right badge bg-red">{{ result.done }}</span></a></li>
                            <li><a href="#">Recogidos <span class="pull-right badge bg-blue">{{ result.collected }}</span></a></li>
                            <li><a href="#">Entregados <span class="pull-right badge bg-green">{{ result.delivered }}</span></a></li>
                        </ul>
                        <p>
                            {{ result.thing.description|raw|truncate(200) }}
                        </p>
                        <a href="#" class="btn btn-primary">Ir al detalle</a>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $("#thing-table").dataTable();
        });
    </script>
{% endblock %}
