{% extends 'base.html.twig' %}

{% block document_title %}Gestión de elementos imprimibles{% endblock %}
{% block page_title %}Imprimibles{% endblock %}
{% block page_subtitle %}Gestión de imprimibles{% endblock %}

{% block page_content %}
    {% import '@AdminLTE/Macros/buttons.html.twig'  as btn %}
    <div class="row">
        <div class="col-md-10">
            <table class="table table-striped table-bordered" id="thing-table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Model</th>
                    <th scope="col">Descripción</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th scope="col"></th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                    {% for thing in things %}
                        <tr>
                            <th scope="row" class="col-md-1">
                                {% if thing.photoUrl %}
                                    <img src="{{ thing.photoUrl }}" class="img-rounded" style="max-width: 75px" alt="{{ thing.type ~ '-' ~ thing.model }}">
                                {% endif %}
                            </th>
                            <td>{{ thing.type }}</td>
                            <td>{{ thing.model }}</td>
                            <td>{{ thing.description|raw }}</td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <td class="col-md-2">
                                    {{ btn.link_button('Editar', path('things.edit', {thingId: thing.id}), 'fa fa-pen', 'info', 'sm') }}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="pull-left">
        {{ btn.link_button('Crear imprimible', path('things.create'), 'far fa-save', 'success', 'lg') }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $("#thing-table").dataTable();
        });
    </script>
{% endblock %}
