{% extends 'base.html.twig' %}

{% block document_title %}Gesti칩n de sitios{% endblock %}
{% block page_title %}Sitios{% endblock %}
{% block page_subtitle %}Gesti칩n de sitios{% endblock %}

{% block page_content %}
    {% import '@AdminLTE/Macros/buttons.html.twig'  as btn %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th scope="col" class="col-md-1">#</th>
                    <th scope="col" class="col-md-4">Nombre</th>
                    <th scope="col" class="col-md-3">Direcci칩n</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th scope="col" class="col-md-4">Administrar</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                    {% for place in places %}
                        <tr>
                            <th scope="row" class="col-md-1">{{ place.id }}</th>
                            <td>{{ place.name }}</td>
                            <td>
                                {{ place.address }}
                                <br>{{ place.city }} {{ place.postalCode }}
                            </td>
                            <td>
                                {% if is_granted('ROLE_ADMIN') %}
                                    {{ btn.link_button('Editar', path('places.edit', {placeId: place.id}), 'fa fa-pen', 'info', 'sm') }}
                                    {{ btn.link_button('A침adir necesidad', path('places.needs.add', {placeId: place.id}), 'fa fa-plus', '', 'sm') }}
                                {% endif %}
                                {{ btn.link_button('Ver necesidades', path('places.needs.list', {placeId: place.id}), 'fa fa-eye', '', 'sm') }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="pull-left">
        {{ btn.link_button('Crear sitio', path('places.create'), 'far fa-save', 'success', 'lg') }}
    </div>
{% endblock %}
